@page
@model AccessDeniedModel
@{ ViewData["Title"] = "Nuk keni qasje!"; }

<header>
    <div class="container-fluid">
        <div class="white-space-60"></div>
        <div class="white-space-60"></div>

        <!-- 404 Error Text -->
        <div class="text-center">
            <h1 class="text-gray-500 mb-0"><strong>Nuk keni qasje</strong> në këtë faqe.</h1>
            <a asp-controller="Home" asp-action="Index">&larr; Kthehu në faqen kryesore</a>
        </div>
        <div class="white-space-60"></div>        <div class="white-space-60"></div>



    </div>
</header>