
@{
    ViewData["Title"] = "About";
}
<!-- body-content -->
<div class="body-content clearfix">

    <!-- block top -->
    <div class="bg-color1 block-section line-bottom">
        <div class="container text-center">
            <h2 class="">Ne i ndihmojmë njerëzit në të gjitha trojet shqiptare që <br>të punësojnë dhe të punësohen</h2>
            <div class="white-space-15"></div>
            <h3>FindJob ofron mënyra të lehta dhe efektive për t'u punësuar.</h3>
            <h4>Fillo një përvojë të paharrueshme me ne!</h4>

            <!-- world map -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img src="/images/World_map_png-7.png" alt="" class="img-full">
                </div>
            </div><!-- world map -->
            <!-- box with icon center -->
            <div class="row">
                <div class="col-md-6">
                    <div class="box-ic-center">
                        <i class="fa fa-clipboard ic-box"></i>
                        <h4>Publiko një shpallje</h4>
                        <p>Publikimi juaj do të shfaqet në kategorinë e shpalljeve ku do të mund të pranoni aplikime nga përdoruesit</p>
                        <a href="#" class="btn btn-sm btn-pill btn-theme btn-line dark">Publiko shpallje</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-ic-center ">
                        <i class="fa fa-search ic-box"></i>
                        <h4>Gjej punëtorë</h4>
                        <p>Lista e përdoruesve të regjistruar në platformën tonë, të gatshëm për të aplikuar në shpallje</p>
                        <a href="#" class="btn btn-sm btn-pill btn-theme btn-line dark">Përdoruesit</a>
                    </div>
                </div>
            </div><!-- box with icon center -->

        </div>
    </div><!-- end block top -->

    <div class="bg-color2 block-section line-bottom">
        <div class="container text-center">
            <h2>Referenca</h2>
            <div class="white-space-30"></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="box-testimonial">
                        <p class="desc"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
                        <img src="~/images/people/1.png" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-testimonial">
                        <p class="desc"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
                        <img src="~/images/people/2.png" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-testimonial">
                        <p class="desc"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
                        <img src="~/images/people/3.png" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box-testimonial">
                        <p class="desc"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
                        <img src="~/images/people/4.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- patners logo-->
    <div class="bg-color1 block-section line-bottom">
        <div class="container text-center clients ">
            <a href="https://www.ubt-uni.net/sq/ballina/"><img src="~/images/patner/1.png" alt=""></a>
            <a href="#"><img src="~/images/patner/2.png" alt=""></a>
            <a href="#"><img src="~/images/patner/3.png" alt=""></a>
            <a href="#"><img src="~/images/patner/4.png" alt=""></a>
            <a href="#"><img src="~/images/patner/5.png" alt=""></a>
        </div>
    </div> <!-- end patners logo-->
</div><!--end body-content -->
